
/* main ol > li > h4 {
  cursor: pointer;
  padding: 0.6rem 0.8rem;    /* ← This adds space inside */
  /* margin: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px; */
  /* ... */
/* } */
img { max-width: 500px;   
  margin-left: 0;
  margin-right: auto;
  width: 80vw;
  height: auto; 
display: block;
/* filter: invert(100%); */

}

.main {
  max-width: 1000px; /* optional for better readability */
  margin: auto;
  padding: 0.9rem;
  
  column-count: 1;      /* mobile default */
  column-gap: 40px;     /* space between columns */
}

@media (min-width: 900px) {
  .main {
    column-count: 2;     /* desktop: 2 columns */
  }
}

 





main ol > li > *:not(h5) {
   /* display: none;  */
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  margin-top: 0;
  margin-bottom: 0;
  
  }
main ol > li.open > * { 
  /* display: block; */
  max-height: 2000px; } /* large enough to show content */
  /* overflow: visible;} */

  main ol > li > h5 { cursor: pointer; }
main ol > li > h5::before { content: "▶ "; }
main ol > li.open > h5::before { content: "▼ "; }