main ol > li > *:not(h4) { display: none; }
main ol > li.open > * { display: block; }
main ol > li > h4 { cursor: pointer; }
main ol > li > h4::before { content: "▶ "; }
main ol > li.open > h4::before { content: "▼ "; }