

img { max-width: 500px;   
  margin-left: 0;
  margin-right: auto;
  width: 80vw;
  height: auto; 
display: block;
/* filter: invert(100%); */

}

.main {
  max-width: 1000px; /* optional for better readability */
  margin: auto;
  padding: 0rem;
  
  column-count: 1;      /* mobile default */
  column-gap: 40px;     /* space between columns */
}

@media (min-width: 900px) {
  .main {
    column-count: 2;     /* desktop: 2 columns */
  }
}

 





main ol > li > *:not(h5) {
   /* display: none;  */
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  
  }
main ol > li.open > * { 
  /* display: block; */
  max-height: 2000px; 
opacity: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
} 

/* large enough to show content */
  /* overflow: visible;} */

  main ol > li > h5 { cursor: pointer; }
main ol > li > h5::before { content: "▶ "; 
color: var(--pico-primary);
}
main ol > li.open > h5::before { content: "▼ "; 
color: var(--pico-primary);
}