<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | ISO-22000</title>
  <link rel="stylesheet" href="../assets/pico.min.css">
  <link rel="stylesheet" href="../assets/page.css">
  <style>
    /* Header styling using Pico's design tokens */
    
  </style>
</head>
<body>

  <header>
    <a href="index.html" class="back-btn" aria-label="Back to home">
      {% include icons/arrowback.svg %}
    </a>
    <h1>{{page.title}}</h1>
  </header>

  <main class="container">
    {{ content }}
  </main>
  <script>

  let  isDark = Android.isDarkMode()
      
      const htmlElement = document.documentElement; // Get the <html> element
let themeValue = htmlElement.getAttribute('data-theme'); // Use 'let' so it can be reassigned

if (isDark) {
    themeValue = "dark";
} else {
    themeValue = "light";
}


htmlElement.setAttribute('data-theme', themeValue); // Set the attribut
   
</script>

</body>
</html>