---
layout: home

---

<section class="grid-container"> 
  
  {% for i in (0..10) %} 
      {% assign svg_path = page.urls[i] %}
  <a href="{{page.navurls[i]}}" class ="grid-item">    
       
           <div class="icon-wrapper">
            {% include {{svg_path }} %}
          </div>
          
          
          <div class="text">
         
          <div class = "title">{{ page.items[i] }}</div>  
           <div class = "subtext" > {{page.subtext[i]}}</div>  
          </div>
       </a> 
  
  
         {% endfor %}

</section>