---
layout: home

---

<section class="grid-container"> 
  
  {% for i in (0..10) %}
  {% if i == 0 %}
   {% assign svg_path = page.urls[i] %}
    <a href="{{page.navurls[i]}}" class ="grid-item">    
       
          <div class="icon-wrapper">
            {% include {{svg_path }} %}
          </div>
          <span class = "clauseName">{{ page.items[i] }}</span>   
         </a>

         {% else %}
      {% assign svg_path = page.urls[i] %}
  <a href="{{page.navurls[i]}}" class ="grid-item">    
       
           <div class="icon-wrapper">
            {% include {{svg_path }} %}
          </div>
          
          
          <div class="text">
         
          <div class = "title">{{ page.items[i] }}</div>  
           <div class = "subtext" > {{page.subtext[1]}}</div>  
          </div>
       </a>
  
  {% endif %}
         {% endfor %}

</section>