<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{site.title}}</title>

  <!-- Pico CSS -->
  <link rel="stylesheet" href="assets/pico.min.css">
  <link rel="stylesheet" href="assets/home.css">
  <link rel="stylesheet" href="assets/grid.css">
  <style>
    /* Hide drawer and overlay by default */
  </style>
</head>

<body>
  <header>
    <div id="menu-button">
      &equiv; </div> <span>ISO 22000</span>

    <nav id="desktopNav">
       <ul>
        <li> <a href="about.html"> <span class=".drawerimg">{% include icons/intro.svg %} </span>
            <span> About </span></a> </li>
        <li> <a href="mailto:realtechsolns@gmail.com?subject=Feedback ISO-22000">
            <span>{% include icons/feedback.svg %} </span> <span> Feedback </span></a></li>
        <li> <a href="#" class="webShareBtn"><span>{% include icons/share.svg %} </span>
            <span> Share</span>
          </a></li>
      </ul>
    </nav>


  </header>
  <div class="overlay" hidden></div>

  <aside id="drawer">
    <nav>
      <ul>
        <li> <a href="about.html"> <span class=".drawerimg">{% include icons/intro.svg %} </span>
            <span> About </span></a> </li>
        <li> <a href="mailto:realtechsolns@gmail.com?subject=Feedback ISO-22000">
            <span>{% include icons/feedback.svg %} </span> <span> Feedback </span></a></li>
        <li> <a href="#" class="webShareBtn"><span>{% include icons/share.svg %} </span>
            <span> Share</span>
          </a></li>
      </ul>

    </nav>
  </aside>
  {{content}}
  <script>
    const overlay = document.querySelector(".overlay")
    const bt = document.getElementById("menu-button")
    const aside = document.querySelector("aside")

    bt.addEventListener("click", () => {
      aside.classList.toggle("show")
      document.querySelector(".overlay").toggleAttribute("hidden")
    }
    )
    overlay.addEventListener("click", () => {
      aside.classList.remove("show")
      overlay.toggleAttribute("hidden")
    }) 

    const shareData = {
      title: 'ISO-22000 Food Safety Management System',
      text: 'FSMS standard guide.',
      url: "https://realtechsolns.in/fsms"
    };

    const webShareBtns = document.querySelectorAll('.webShareBtn');

    if (navigator.share) {
      webShareBtns.forEach(btn => {
        btn.addEventListener('click', async (e) => {
          e.preventDefault(); // Don't follow the # link
          try {
            await navigator.share(shareData);
          } catch (err) {
            if (err.name !== 'AbortError') {
              console.error('Error sharing:', err);
            }
          }
        });
      });
    }

    let isDark = Android.isDarkMode()

    const htmlElement = document.documentElement; // Get the <html> element
    let themeValue = htmlElement.getAttribute('data-theme'); // Use 'let' so it can be reassigned

    if (isDark) {
      themeValue = "dark";
    } else {
      themeValue = "light";
    }

    htmlElement.setAttribute('data-theme', themeValue); // Set the attribut
  </script>
</body>
</html>